In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [2]:
import statistics
import scipy.stats as stat
import scipy as sp

In [3]:
server = 'sql-mcibusxrm-dev.database.windows.net'
database = 'sqldb-mcibusxrm-dev'
username = 'sql-mcibusxrm-dev'
password = '{pzR28UcutX26GdAJLWm9SXw}'
driver= '{ODBC Driver 17 for SQL Server}'

conn = pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()
#cursor.execute("SELECT TOP 100000 Lieu FROM dbo.Criteres")

# dbo.BienMandat

In [4]:
df_BienMandat = pd.read_sql("SELECT BienMandatId,MandatId, DescriptionBien_TypeBienEnum, DescriptionBien_Prix, Statut, CommentaireTravaux, DescriptionBien_DateOffreAcceptee FROM dbo.BienMandat ", conn)

In [5]:
df_BienMandat.head()

,BienMandatId,MandatId,DescriptionBien_TypeBienEnum,DescriptionBien_Prix,Statut,CommentaireTravaux,DescriptionBien_DateOffreAcceptee
0,1,2,1,0,7,Petits travaux,NaT
1,2,2,1,0,7,,NaT
2,3,2,1,0,7,non,NaT
3,4,2,1,0,3,pas ou peu de travaux pour en faires 2 apparte...,NaT
4,5,2,1,0,7,oui,NaT

In [6]:
df_BienMandat.columns

Index(['BienMandatId', 'MandatId', 'DescriptionBien_TypeBienEnum',
       'DescriptionBien_Prix', 'Statut', 'CommentaireTravaux',
       'DescriptionBien_DateOffreAcceptee'],
      dtype='object')

In [7]:
df_BienMandat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426979 entries, 0 to 426978
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   BienMandatId                       426979 non-null  int64
 1   MandatId                           426979 non-null  int64
 2   DescriptionBien_TypeBienEnum       426979 non-null  int64
 3   DescriptionBien_Prix               426979 non-null  int64
 4   Statut                             426979 non-null  int64
 5   CommentaireTravaux                 50960 non-null   object
 6   DescriptionBien_DateOffreAcceptee  2667 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 22.8+ MB

In [8]:
df_BienMandat.isnull().sum()

BienMandatId                              0
MandatId                                  0
DescriptionBien_TypeBienEnum              0
DescriptionBien_Prix                      0
Statut                                    0
CommentaireTravaux                   376019
DescriptionBien_DateOffreAcceptee    424312
dtype: int64

In [9]:
df_drop = df_BienMandat.dropna(subset = ["DescriptionBien_DateOffreAcceptee"])

In [10]:
df_drop.head()

,BienMandatId,MandatId,DescriptionBien_TypeBienEnum,DescriptionBien_Prix,Statut,CommentaireTravaux,DescriptionBien_DateOffreAcceptee
61799,63870,29840,2,533000,6,None,2017-04-05 10:00:00
64210,66281,31745,2,160600,6,passage studio à T2,2017-04-06 10:00:00
66055,68126,31171,1,770000,6,None,2017-04-11 10:00:00
66242,68313,13229,2,325500,6,restauré entièrement,2017-04-12 08:00:00
67150,69221,28596,2,349400,6,refait à neuf/livraison avril 2017,2017-04-21 10:00:00

In [11]:
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2667 entries, 61799 to 426530
Data columns (total 7 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   BienMandatId                       2667 non-null   int64
 1   MandatId                           2667 non-null   int64
 2   DescriptionBien_TypeBienEnum       2667 non-null   int64
 3   DescriptionBien_Prix               2667 non-null   int64
 4   Statut                             2667 non-null   int64
 5   CommentaireTravaux                 1498 non-null   object
 6   DescriptionBien_DateOffreAcceptee  2667 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 166.7+ KB

In [12]:
df_drop["DescriptionBien_DateOffreAcceptee"].min()

Timestamp('2017-02-18 11:00:00')

In [13]:
df_drop["DescriptionBien_DateOffreAcceptee"].max()

Timestamp('2021-09-09 00:00:00')

In [14]:
df_drop.head()

,BienMandatId,MandatId,DescriptionBien_TypeBienEnum,DescriptionBien_Prix,Statut,CommentaireTravaux,DescriptionBien_DateOffreAcceptee
61799,63870,29840,2,533000,6,None,2017-04-05 10:00:00
64210,66281,31745,2,160600,6,passage studio à T2,2017-04-06 10:00:00
66055,68126,31171,1,770000,6,None,2017-04-11 10:00:00
66242,68313,13229,2,325500,6,restauré entièrement,2017-04-12 08:00:00
67150,69221,28596,2,349400,6,refait à neuf/livraison avril 2017,2017-04-21 10:00:00

# dbo.Criteres

In [15]:
df_Criteres = pd.read_sql("SELECT * FROM dbo.Criteres ", conn)
df_Criteres.head()

,CritereId,Lieu,Quartier,TypeBienEnum,TypeProjet,BudgetMinEuro,BudgetMaxEuro,SurfaceMin,SurfaceMax,NombrePiecesEnum,...,AutreCritere3,AutreCritere4,AutreCritere5,CommentaireTravauxAcceptes,CommentaireSituation,CommentaireStyle,CommentaireNetAcheteur,EcheanceProjetEnum,AncienNeufBien,HorairesVisite
0,1,Paris,None,2,Résidence principale,350000,450000,0,0,0,...,None,None,None,None,None,None,None,0,0,None
1,2,Nimes ou Montpellier,ville idéalement,1,Résidence principale,0,280000,0,0,5,...,ext,,,oui,,ancien,,0,2,None
2,3,34000,,2,Résidence principale,0,300000,70,0,3,...,,,,oui,,,financement a verifier,0,0,None
3,4,Clapiers,,4,,0,300000,0,0,0,...,,,,,,,,0,0,None
4,5,Montpellier EST,"Richter, Antigone, Pompignane, Port Marianne, ...",2,Investissement,0,250000,60,0,3,...,Immeuble de 1995 à nos jour ou avant 1970 (mai...,Minimum 15% de travaux pour réaliser déficit f...,,oui,,,,0,2,None

In [16]:
df_Criteres.columns

Index(['CritereId', 'Lieu', 'Quartier', 'TypeBienEnum', 'TypeProjet',
       'BudgetMinEuro', 'BudgetMaxEuro', 'SurfaceMin', 'SurfaceMax',
       'NombrePiecesEnum', 'NombreChambresEnum', 'DescriptionLibreRecherche',
       'AutreCritere1', 'AutreCritere2', 'AutreCritere3', 'AutreCritere4',
       'AutreCritere5', 'CommentaireTravauxAcceptes', 'CommentaireSituation',
       'CommentaireStyle', 'CommentaireNetAcheteur', 'EcheanceProjetEnum',
       'AncienNeufBien', 'HorairesVisite'],
      dtype='object')

# dbo.CriteresMoteur

In [17]:
df_crit_moteur = pd.read_sql('''SELECT * FROM dbo.CriteresMoteur''', conn)

In [18]:
df_crit_moteur.head()

,CriteresMoteurId,BudgetMaxEuro,SurfaceMin,IsRechercheMoteurActive,TypeBienMoteurEnum,MinBudgetEuro,IsNotificationsMoteurActive,DateDernierScrap,MinPublicationDate,NumVersion
0,1,0,0,False,0,0,False,2021-12-17 09:53:49.787,2021-12-02 14:47:56,1
1,2,0,0,False,0,0,False,2021-12-17 09:57:23.650,2021-12-02 14:47:56,1
2,3,0,0,False,0,0,False,2021-12-17 09:58:49.427,2021-12-02 14:47:56,1
3,4,0,0,False,0,0,False,NaT,NaT,1
4,5,0,0,False,0,0,False,NaT,NaT,1

In [19]:
df_crit_moteur.columns

Index(['CriteresMoteurId', 'BudgetMaxEuro', 'SurfaceMin',
       'IsRechercheMoteurActive', 'TypeBienMoteurEnum', 'MinBudgetEuro',
       'IsNotificationsMoteurActive', 'DateDernierScrap', 'MinPublicationDate',
       'NumVersion'],
      dtype='object')

# dbo.CriteresMoteurLocalisation

In [20]:
df_CriteresMoteurLocalisation = pd.read_sql('''SELECT * FROM dbo.CriteresMoteurLocalisation''', conn)

In [21]:
df_CriteresMoteurLocalisation.head()

   CriteresMoteur_CriteresMoteurId  Localisation_LocalisationId
0                               14                        34057
1                              125                         9927
2                              125                         9955
3                              125                        10045
4                              125                        10262

In [22]:
df_CriteresMoteurLocalisation.columns

Index(['CriteresMoteur_CriteresMoteurId', 'Localisation_LocalisationId'], dtype='object')

# dbo.Localisation

In [23]:
df_Localisation = pd.read_sql(
'''
SELECT * FROM dbo.Localisation
''', conn
)

In [24]:
df_Localisation.head()

,LocalisationId,Code,Nom,CodeInsee,Discriminator,Region_LocalisationId,Departement_LocalisationId
0,1,42,Alsace,None,Region,NaN,NaN
1,2,72,Aquitaine,None,Region,NaN,NaN
2,3,83,Auvergne,None,Region,NaN,NaN
3,4,25,Basse-Normandie,None,Region,NaN,NaN
4,5,26,Bourgogne,None,Region,NaN,NaN

In [25]:
df_Localisation.columns

Index(['LocalisationId', 'Code', 'Nom', 'CodeInsee', 'Discriminator',
       'Region_LocalisationId', 'Departement_LocalisationId'],
      dtype='object')

# dbo.LocalisationCritere

In [26]:
df_LocalisationCritere =pd.read_sql('''SELECT * FROM dbo.LocalisationCritere''', conn)

In [27]:
df_LocalisationCritere.head()

   CritereId  LocalisationId
0          1              14
1          1           32677
2          2              16
3          2           12379
4          2           14371

In [28]:
df_LocalisationCritere.columns

Index(['CritereId', 'LocalisationId'], dtype='object')

# dbo.Mandat

In [29]:
df_Mandat = pd.read_sql('''SELECT * FROM dbo.Mandat''', conn)

In [30]:
df_Mandat.head()

,MandatId,ClientId,CritereId,CriteresMoteurId,StatutProspectMandatClientId,DateMandatPerte,DateMandatSignature,DateMandantEcheance,DateCompromisSignature,DateAchatCible,...,MandateNumber,LastSavedDate,StandardFees,FeesDiscountType,FeesDiscountHolder,FeesDiscount,Fees,ExternalHubspotDealId,CoachId,Title
0,1,1,1,1,5.0,2012-08-15,NaT,NaT,NaT,NaT,...,0,1900-01-01,5900.0,none,none,0,5900.0,FV19688,NaN,Fz V (Résidence principale)
1,2,2,2,2,9.0,2012-10-03,2012-05-10,2012-10-08,NaT,NaT,...,0,1900-01-01,5900.0,amount,hunter,300,5600.0,PA40721,1.0,Pierre ALLIROL (Résidence principale)
2,3,3,3,3,5.0,2012-11-06,NaT,NaT,NaT,NaT,...,0,1900-01-01,5900.0,none,none,0,5900.0,VM15888,2.0,Vincent MORALÈS (Résidence principale)
3,4,4,4,4,5.0,2012-07-18,NaT,NaT,NaT,NaT,...,0,1900-01-01,5900.0,none,none,0,5900.0,RH82345,2.0,Régis HOCDÉ ()
4,5,5,5,5,9.0,2013-07-12,2012-04-27,2012-07-27,NaT,2012-06-30,...,0,1900-01-01,5900.0,amount,hunter,900,5000.0,DR99901,NaN,Denis ROCCHIA (Investissement)

In [31]:
df_Mandat.columns

Index(['MandatId', 'ClientId', 'CritereId', 'CriteresMoteurId',
       'StatutProspectMandatClientId', 'DateMandatPerte',
       'DateMandatSignature', 'DateMandantEcheance', 'DateCompromisSignature',
       'DateAchatCible', 'CommentaireClient', 'CommentaireEntretien',
       'DateCreation', 'DateSuppression', 'IsSupprime',
       'CommentaireSuppression', 'PourcentageCommission', 'PrixAchatReel',
       'TauxRetrocessionCai', 'DateCompromisCible', 'TypeDeMission',
       'TypeDeMandat', 'PrestockPropertyCount', 'ChiffreAffaireHT', 'FundId',
       'MandateNumber', 'LastSavedDate', 'StandardFees', 'FeesDiscountType',
       'FeesDiscountHolder', 'FeesDiscount', 'Fees', 'ExternalHubspotDealId',
       'CoachId', 'Title'],
      dtype='object')

# MergeLoc

In [32]:
df_merge_Loc = pd.merge(df_Localisation, df_LocalisationCritere, on = "LocalisationId")

In [33]:
df_merge_Loc.head()

,LocalisationId,Code,Nom,CodeInsee,Discriminator,Region_LocalisationId,Departement_LocalisationId,CritereId
0,1,42,Alsace,None,Region,NaN,NaN,21
1,1,42,Alsace,None,Region,NaN,NaN,28
2,1,42,Alsace,None,Region,NaN,NaN,47
3,1,42,Alsace,None,Region,NaN,NaN,52
4,1,42,Alsace,None,Region,NaN,NaN,125

In [34]:
df_Mandat_Loc = pd.merge(df_merge_Loc, df_Mandat, on = "CritereId")

In [35]:
df_Mandat_Loc.head()

,LocalisationId,Code,Nom,CodeInsee,Discriminator,Region_LocalisationId,Departement_LocalisationId,CritereId,MandatId,ClientId,...,MandateNumber,LastSavedDate,StandardFees,FeesDiscountType,FeesDiscountHolder,FeesDiscount,Fees,ExternalHubspotDealId,CoachId,Title
0,1,42,Alsace,None,Region,NaN,NaN,21,21,21,...,0,1900-01-01,5900.0,none,none,0,5900.0,FO53914,10.0,Floriane OBERST (Résidence principale)
1,28,67,Bas-Rhin,None,Departement,1.0,NaN,21,21,21,...,0,1900-01-01,5900.0,none,none,0,5900.0,FO53914,10.0,Floriane OBERST (Résidence principale)
2,1,42,Alsace,None,Region,NaN,NaN,28,28,28,...,0,1900-01-01,5900.0,none,none,0,5900.0,LI48069,3.0,Loulou IDEM (Résidence principale)
3,29665,67700,Eckartswiller,67117,Ville,NaN,28.0,28,28,28,...,0,1900-01-01,5900.0,none,none,0,5900.0,LI48069,3.0,Loulou IDEM (Résidence principale)
4,1,42,Alsace,None,Region,NaN,NaN,47,47,47,...,0,1900-01-01,5900.0,none,none,0,5900.0,MP69232,2.0,Marcel PLOUVIER (Résidence principale)

In [36]:
df_Mandat_Loc.columns

Index(['LocalisationId', 'Code', 'Nom', 'CodeInsee', 'Discriminator',
       'Region_LocalisationId', 'Departement_LocalisationId', 'CritereId',
       'MandatId', 'ClientId', 'CriteresMoteurId',
       'StatutProspectMandatClientId', 'DateMandatPerte',
       'DateMandatSignature', 'DateMandantEcheance', 'DateCompromisSignature',
       'DateAchatCible', 'CommentaireClient', 'CommentaireEntretien',
       'DateCreation', 'DateSuppression', 'IsSupprime',
       'CommentaireSuppression', 'PourcentageCommission', 'PrixAchatReel',
       'TauxRetrocessionCai', 'DateCompromisCible', 'TypeDeMission',
       'TypeDeMandat', 'PrestockPropertyCount', 'ChiffreAffaireHT', 'FundId',
       'MandateNumber', 'LastSavedDate', 'StandardFees', 'FeesDiscountType',
       'FeesDiscountHolder', 'FeesDiscount', 'Fees', 'ExternalHubspotDealId',
       'CoachId', 'Title'],
      dtype='object')

# Merge_crit

In [40]:
df_merge_crit = pd.merge(df_Mandat_Loc, df_Criteres, on = "CritereId")

In [41]:
pd.set_option('display.max_columns', None)
df_merge_crit.head()

,LocalisationId,Code,Nom,CodeInsee,Discriminator,Region_LocalisationId,Departement_LocalisationId,CritereId,MandatId,ClientId,CriteresMoteurId,StatutProspectMandatClientId,DateMandatPerte,DateMandatSignature,DateMandantEcheance,DateCompromisSignature,DateAchatCible,CommentaireClient,CommentaireEntretien,DateCreation,DateSuppression,IsSupprime,CommentaireSuppression,PourcentageCommission,PrixAchatReel,TauxRetrocessionCai,DateCompromisCible,TypeDeMission,TypeDeMandat,PrestockPropertyCount,ChiffreAffaireHT,FundId,MandateNumber,LastSavedDate,StandardFees,FeesDiscountType,FeesDiscountHolder,FeesDiscount,Fees,ExternalHubspotDealId,CoachId,Title,Lieu,Quartier,TypeBienEnum,TypeProjet,BudgetMinEuro,BudgetMaxEuro,SurfaceMin,SurfaceMax,NombrePiecesEnum,NombreChambresEnum,DescriptionLibreRecherche,AutreCritere1,AutreCritere2,AutreCritere3,AutreCritere4,AutreCritere5,CommentaireTravauxAcceptes,CommentaireSituation,CommentaireStyle,CommentaireNetAcheteur,EcheanceProjetEnum,AncienNeufBien,HorairesVisite
0,1,42,Alsace,None,Region,NaN,NaN,21,21,21,21,5.0,2012-09-26,NaT,NaT,NaT,NaT,07/05: message,,2012-05-07,NaT,False,None,0.0,0.0,0,NaT,0,2,0,0,21,0,1900-01-01,5900.0,none,none,0,5900.0,FO53914,10.0,Floriane OBERST (Résidence principale),bas-rhin,None,1,Résidence principale,0,150000,60,0,3,0,avec jardin proche de la campagne,None,None,None,None,None,None,None,None,None,0,0,None
1,28,67,Bas-Rhin,None,Departement,1.0,NaN,21,21,21,21,5.0,2012-09-26,NaT,NaT,NaT,NaT,07/05: message,,2012-05-07,NaT,False,None,0.0,0.0,0,NaT,0,2,0,0,21,0,1900-01-01,5900.0,none,none,0,5900.0,FO53914,10.0,Floriane OBERST (Résidence principale),bas-rhin,None,1,Résidence principale,0,150000,60,0,3,0,avec jardin proche de la campagne,None,None,None,None,None,None,None,None,None,0,0,None
2,1,42,Alsace,None,Region,NaN,NaN,28,28,28,28,5.0,2012-05-10,NaT,NaT,NaT,NaT,,,2012-05-10,NaT,False,None,0.0,0.0,0,NaT,0,2,0,0,28,0,1900-01-01,5900.0,none,none,0,5900.0,LI48069,3.0,Loulou IDEM (Résidence principale),saverne,None,1,Résidence principale,0,1200000,0,350,6,0,piscine,None,None,None,None,None,None,None,None,None,0,0,None
3,29665,67700,Eckartswiller,67117,Ville,NaN,28.0,28,28,28,28,5.0,2012-05-10,NaT,NaT,NaT,NaT,,,2012-05-10,NaT,False,None,0.0,0.0,0,NaT,0,2,0,0,28,0,1900-01-01,5900.0,none,none,0,5900.0,LI48069,3.0,Loulou IDEM (Résidence principale),saverne,None,1,Résidence principale,0,1200000,0,350,6,0,piscine,None,None,None,None,None,None,None,None,None,0,0,None
4,1,42,Alsace,None,Region,NaN,NaN,47,47,47,47,5.0,2012-05-30,NaT,NaT,NaT,NaT,,,2012-05-16,NaT,False,None,0.0,0.0,0,NaT,0,2,0,0,47,0,1900-01-01,5900.0,none,none,0,5900.0,MP69232,2.0,Marcel PLOUVIER (Résidence principale),Bas-Rhin (67),None,1,Résidence principale,0,5,0,0,0,0,Bonjours \r\nJe m’appel Marcel plouvier et su...,None,None,None,None,None,None,None,None,None,0,0,None

In [42]:
df_merge_crit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96275 entries, 0 to 96274
Data columns (total 65 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   LocalisationId                96275 non-null  int64
 1   Code                          96275 non-null  object
 2   Nom                           96275 non-null  object
 3   CodeInsee                     85025 non-null  object
 4   Discriminator                 96275 non-null  object
 5   Region_LocalisationId         6748 non-null   float64
 6   Departement_LocalisationId    85025 non-null  float64
 7   CritereId                     96275 non-null  int64
 8   MandatId                      96275 non-null  int64
 9   ClientId                      96275 non-null  int64
 10  CriteresMoteurId              96275 non-null  int64
 11  StatutProspectMandatClientId  96275 non-null  float64
 12  DateMandatPerte               82691 non-null  datetime64[ns]
 13  DateMandatSignature           30191 non-null  datetime64[ns]
 14  DateMandantEcheance           29845 non-null  datetime64[ns]
 15  DateCompromisSignature        7911 non-null   datetime64[ns]
 16  DateAchatCible                25560 non-null  datetime64[ns]
 17  CommentaireClient             6353 non-null   object
 18  CommentaireEntretien          5578 non-null   object
 19  DateCreation                  96275 non-null  datetime64[ns]
 20  DateSuppression               3359 non-null   datetime64[ns]
 21  IsSupprime                    96275 non-null  bool
 22  CommentaireSuppression        3359 non-null   object
 23  PourcentageCommission         96275 non-null  float64
 24  PrixAchatReel                 96275 non-null  float64
 25  TauxRetrocessionCai           96275 non-null  int64
 26  DateCompromisCible            25390 non-null  datetime64[ns]
 27  TypeDeMission                 96275 non-null  int64
 28  TypeDeMandat                  96275 non-null  int64
 29  PrestockPropertyCount         96275 non-null  int64
 30  ChiffreAffaireHT              96275 non-null  int64
 31  FundId                        96275 non-null  int64
 32  MandateNumber                 96275 non-null  int64
 33  LastSavedDate                 96275 non-null  datetime64[ns]
 34  StandardFees                  96275 non-null  float64
 35  FeesDiscountType              95789 non-null  object
 36  FeesDiscountHolder            95789 non-null  object
 37  FeesDiscount                  96275 non-null  int64
 38  Fees                          96275 non-null  float64
 39  ExternalHubspotDealId         96260 non-null  object
 40  CoachId                       94480 non-null  float64
 41  Title                         96194 non-null  object
 42  Lieu                          61922 non-null  object
 43  Quartier                      14225 non-null  object
 44  TypeBienEnum                  96275 non-null  int64
 45  TypeProjet                    96194 non-null  object
 46  BudgetMinEuro                 96275 non-null  int64
 47  BudgetMaxEuro                 96275 non-null  int64
 48  SurfaceMin                    96275 non-null  int64
 49  SurfaceMax                    96275 non-null  int64
 50  NombrePiecesEnum              96275 non-null  int64
 51  NombreChambresEnum            96275 non-null  int64
 52  DescriptionLibreRecherche     63337 non-null  object
 53  AutreCritere1                 80653 non-null  object
 54  AutreCritere2                 63992 non-null  object
 55  AutreCritere3                 58602 non-null  object
 56  AutreCritere4                 53966 non-null  object
 57  AutreCritere5                 8936 non-null   object
 58  CommentaireTravauxAcceptes    50877 non-null  object
 59  CommentaireSituation          27660 non-null  object
 60  CommentaireStyle              23273 non-null  object
 61  CommentaireNetAcheteur        51238 non-null  object
 62  EcheanceProjetEnum            96275 non-null  int64
 63  AncienNeufBien                96275 non-null  int64
 64  HorairesVisite                13853 non-null  object
dtypes: bool(1), datetime64[ns](9), float64(8), int64(22), object(25)
memory usage: 47.8+ MB

# Merge_crit

In [43]:
df_merge_crit_2 = pd.merge(df_merge_crit, df_drop, on = "MandatId")

In [44]:
df_merge_crit_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9806 entries, 0 to 9805
Data columns (total 71 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   LocalisationId                     9806 non-null   int64
 1   Code                               9806 non-null   object
 2   Nom                                9806 non-null   object
 3   CodeInsee                          9385 non-null   object
 4   Discriminator                      9806 non-null   object
 5   Region_LocalisationId              391 non-null    float64
 6   Departement_LocalisationId         9385 non-null   float64
 7   CritereId                          9806 non-null   int64
 8   MandatId                           9806 non-null   int64
 9   ClientId                           9806 non-null   int64
 10  CriteresMoteurId                   9806 non-null   int64
 11  StatutProspectMandatClientId       9806 non-null   float64
 12  DateMandatPerte                    3278 non-null   datetime64[ns]
 13  DateMandatSignature                9806 non-null   datetime64[ns]
 14  DateMandantEcheance                9729 non-null   datetime64[ns]
 15  DateCompromisSignature             6751 non-null   datetime64[ns]
 16  DateAchatCible                     8359 non-null   datetime64[ns]
 17  CommentaireClient                  0 non-null      object
 18  CommentaireEntretien               0 non-null      object
 19  DateCreation                       9806 non-null   datetime64[ns]
 20  DateSuppression                    182 non-null    datetime64[ns]
 21  IsSupprime                         9806 non-null   bool
 22  CommentaireSuppression             182 non-null    object
 23  PourcentageCommission              9806 non-null   float64
 24  PrixAchatReel                      9806 non-null   float64
 25  TauxRetrocessionCai                9806 non-null   int64
 26  DateCompromisCible                 8364 non-null   datetime64[ns]
 27  TypeDeMission                      9806 non-null   int64
 28  TypeDeMandat                       9806 non-null   int64
 29  PrestockPropertyCount              9806 non-null   int64
 30  ChiffreAffaireHT                   9806 non-null   int64
 31  FundId                             9806 non-null   int64
 32  MandateNumber                      9806 non-null   int64
 33  LastSavedDate                      9806 non-null   datetime64[ns]
 34  StandardFees                       9806 non-null   float64
 35  FeesDiscountType                   9806 non-null   object
 36  FeesDiscountHolder                 9806 non-null   object
 37  FeesDiscount                       9806 non-null   int64
 38  Fees                               9806 non-null   float64
 39  ExternalHubspotDealId              9806 non-null   object
 40  CoachId                            9805 non-null   float64
 41  Title                              9806 non-null   object
 42  Lieu                               4059 non-null   object
 43  Quartier                           1733 non-null   object
 44  TypeBienEnum                       9806 non-null   int64
 45  TypeProjet                         9806 non-null   object
 46  BudgetMinEuro                      9806 non-null   int64
 47  BudgetMaxEuro                      9806 non-null   int64
 48  SurfaceMin                         9806 non-null   int64
 49  SurfaceMax                         9806 non-null   int64
 50  NombrePiecesEnum                   9806 non-null   int64
 51  NombreChambresEnum                 9806 non-null   int64
 52  DescriptionLibreRecherche          4827 non-null   object
 53  AutreCritere1                      8365 non-null   object
 54  AutreCritere2                      5911 non-null   object
 55  AutreCritere3                      5143 non-null   object
 56  AutreCritere4                      4504 non-null   object
 57  AutreCritere5                      1159 non-null   object
 58  CommentaireTravauxAcceptes         7887 non-null   object
 59  CommentaireSituation               4488 non-null   object
 60  CommentaireStyle                   3549 non-null   object
 61  CommentaireNetAcheteur             5045 non-null   object
 62  EcheanceProjetEnum                 9806 non-null   int64
 63  AncienNeufBien                     9806 non-null   int64
 64  HorairesVisite                     3045 non-null   object
 65  BienMandatId                       9806 non-null   int64
 66  DescriptionBien_TypeBienEnum       9806 non-null   int64
 67  DescriptionBien_Prix               9806 non-null   int64
 68  Statut                             9806 non-null   int64
 69  CommentaireTravaux                 5981 non-null   object
 70  DescriptionBien_DateOffreAcceptee  9806 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](10), float64(8), int64(26), object(26)
memory usage: 5.3+ MB

In [45]:
df_merge_crit_2["DescriptionBien_DateOffreAcceptee"].value_counts()

2021-03-09 00:00:00    119
2021-07-05 00:00:00     62
2021-02-05 11:00:00     49
2019-01-01 00:00:00     48
2021-03-26 00:00:00     47
                      ...
2020-12-09 11:00:00      1
2021-05-21 00:00:00      1
2018-06-18 10:00:00      1
2020-12-07 00:00:00      1
2020-10-30 10:00:00      1
Name: DescriptionBien_DateOffreAcceptee, Length: 1098, dtype: int64

In [46]:
df_merge_crit_2["DescriptionBien_DateOffreAcceptee"].isnull().sum()

0

In [47]:
df_merge_crit_2["DescriptionBien_DateOffreAcceptee"].min()

Timestamp('2017-02-18 11:00:00')

In [48]:
df_merge_crit_2["DescriptionBien_DateOffreAcceptee"].max()

Timestamp('2021-09-09 00:00:00')

In [49]:
df_merge_crit_2["DescriptionBien_DateOffreAcceptee"]

0      2020-12-04 00:00:00
1      2020-12-04 00:00:00
2      2018-06-29 10:00:00
3      2018-07-13 10:00:00
4      2019-04-27 10:00:00
               ...
9801   2019-10-15 10:00:00
9802   2019-10-15 10:00:00
9803   2019-10-15 10:00:00
9804   2021-06-23 00:00:00
9805   2021-07-12 00:00:00
Name: DescriptionBien_DateOffreAcceptee, Length: 9806, dtype: datetime64[ns]

In [50]:
df_merge_crit_2.head()

,LocalisationId,Code,Nom,CodeInsee,Discriminator,Region_LocalisationId,Departement_LocalisationId,CritereId,MandatId,ClientId,CriteresMoteurId,StatutProspectMandatClientId,DateMandatPerte,DateMandatSignature,DateMandantEcheance,DateCompromisSignature,DateAchatCible,CommentaireClient,CommentaireEntretien,DateCreation,DateSuppression,IsSupprime,CommentaireSuppression,PourcentageCommission,PrixAchatReel,TauxRetrocessionCai,DateCompromisCible,TypeDeMission,TypeDeMandat,PrestockPropertyCount,ChiffreAffaireHT,FundId,MandateNumber,LastSavedDate,StandardFees,FeesDiscountType,FeesDiscountHolder,FeesDiscount,Fees,ExternalHubspotDealId,CoachId,Title,Lieu,Quartier,TypeBienEnum,TypeProjet,BudgetMinEuro,BudgetMaxEuro,SurfaceMin,SurfaceMax,NombrePiecesEnum,NombreChambresEnum,DescriptionLibreRecherche,AutreCritere1,AutreCritere2,AutreCritere3,AutreCritere4,AutreCritere5,CommentaireTravauxAcceptes,CommentaireSituation,CommentaireStyle,CommentaireNetAcheteur,EcheanceProjetEnum,AncienNeufBien,HorairesVisite,BienMandatId,DescriptionBien_TypeBienEnum,DescriptionBien_Prix,Statut,CommentaireTravaux,DescriptionBien_DateOffreAcceptee
0,5,26,Bourgogne,None,Region,NaN,NaN,72936,72240,72255,72240,9.0,2021-03-23 14:10:33.997,2020-08-28 00:00:00,2021-08-28 00:00:00,2020-12-29 11:00:00,2021-04-30 10:00:00,None,None,2020-07-21 12:08:45.651670,NaT,False,None,0.0,0.0,40,2020-12-29 11:00:00,2,0,66,4916,72719,5935,2021-03-08 12:56:55.572150,5900.0,none,none,0,5900.0,3652681862,347.0,Eric JACQUET (Investissement),Lyon,None,2,Investissement,0,200000,20,0,1,0,aucun commentaire,du cash flow mensuel positif (minimum 5-6% brut),,,,None,oui,None,None,Contexte :\n- investisseur avec déjà 2 biens (...,5,2,None,361567,2,162000,4,Ameublement + électricité,2020-12-04 00:00:00
1,27,82,Rhône-Alpes,None,Region,NaN,NaN,72936,72240,72255,72240,9.0,2021-03-23 14:10:33.997,2020-08-28 00:00:00,2021-08-28 00:00:00,2020-12-29 11:00:00,2021-04-30 10:00:00,None,None,2020-07-21 12:08:45.651670,NaT,False,None,0.0,0.0,40,2020-12-29 11:00:00,2,0,66,4916,72719,5935,2021-03-08 12:56:55.572150,5900.0,none,none,0,5900.0,3652681862,347.0,Eric JACQUET (Investissement),Lyon,None,2,Investissement,0,200000,20,0,1,0,aucun commentaire,du cash flow mensuel positif (minimum 5-6% brut),,,,None,oui,None,None,Contexte :\n- investisseur avec déjà 2 biens (...,5,2,None,361567,2,162000,4,Ameublement + électricité,2020-12-04 00:00:00
2,14,11,Île-de-France,None,Region,NaN,NaN,43502,43443,43443,43443,8.0,2018-06-07 00:00:00.000,2018-06-14 10:00:00,2019-06-14 10:00:00,2018-07-07 00:00:00,2018-12-30 00:00:00,None,None,2018-05-16 16:20:20.976082,NaT,False,None,0.0,85000.0,50,2018-09-30 00:00:00,2,0,0,4916,43472,2403,2019-03-14 15:23:15.210461,5900.0,none,none,0,5900.0,3652526440,81.0,Arnaud BRONCARD (Investissement),Sud Paris,None,2,Investissement,0,100000,20,0,1,0,"Bonjour,\r\nJe suis à la recherche d\'un proje...",Ville de recherche: SUD PARIS,,,,None,None,None,None,etude.durand.guillet@paris.notaires.fr\nMail n...,2,3,None,132036,2,90000,6,None,2018-06-29 10:00:00
3,14,11,Île-de-France,None,Region,NaN,NaN,44133,44061,44061,44061,8.0,NaT,2018-06-12 10:00:00,2019-06-12 10:00:00,2018-07-17 00:00:00,2018-12-17 00:00:00,None,None,2018-06-11 11:51:54.978000,NaT,False,None,0.0,497000.0,70,2018-07-17 00:00:00,2,0,0,9166,44097,2407,2019-03-14 15:36:35.983656,11000.0,none,none,0,11000.0,3652230277,81.0,Maxime PETIT (Résidence principale),None,None,7,Résidence principale,0,480000,65,0,3,2,None,Ligne 13 : pas au nord de Saint Lazare Ligne 7...,"Bonjour, 45 mln max du travail ( 59 rue Baubou...",Si c'est proche de l'A86 ou toute autre grand ...,None,None,None,None,None,None,1,3,None,137009,1,533000,6,Non,2018-07-13 10:00:00
4,14,11,Île-de-France,None,Region,NaN,NaN,51438,51235,51239,51235,8.0,NaT,2019-02-13 11:00:00,2020-02-13 11:00:00,2019-05-20 10:00:00,2019-08-13 10:00:00,None,None,2019-02-03 21:14:03.015224,NaT,False,None,0.0,49500.0,50,2019-05-13 10:00:00,2,0,0,4916,51369,3035,2019-08-05 06:34:29.904861,5900.0,none,none,0,5900.0,3652501929,170.0,Lindsay Custodio (Investissement),"GRIGNY (91350), BONDY (93140), MAISONS ALFORT ...",None,2,Investissement,0,75000,9,0,1,0,budget: environ 75k€\r\ndelai: des que possibl...,Proche des transports,,,,None,Rafraîchissement,Etages,None,None,1,2,None,199134,2,55000,6,Rafraîchissement,2019-04-27 10:00:00

In [51]:
df_merge_crit_2["TypeDeMission"].value_counts()

2    9455
1     182
0     103
4      57
5       5
6       3
3       1
Name: TypeDeMission, dtype: int64

# Analyse des colonnes

LOCALISATION

    *    0 LocalisationId == juste l'id de la localisation 
1 Code == selon le discriminator c'est le code soit de la region soit du département == choix de la transfo ou pas
2 nom == nom de la region
3 codeInsee == code postal
4 discriminator == choix ville departement region == strin ==> transformation en categorical (1 - 2 - 3)
    *    5 Region_LocalisationId == Region_LocalisationId id
    *    6 Departement_LocalisationId == Departement_LocalisationId

    *    7 CritereId
    *    8 MandatId
    *    9 ClientId
    *    10 CriteresMoteurId
    *    11 StatutProspectMandatClientId

MANDAT

    *    12 DateMandatPerte == date de perte du mandat
13 DateMandatSignature == date de la signature du mandat
    *    14 DateMandantEcheance == date prevu de la fin du mandat
    *    15 DateCompromisSignature == date de la signature du compromis de vente ?
    *    16 DateAchatCible == date a laquelle le client souhaite avoir le bien   ?
    *    17 CommentaireClient == commentaire client
    *    18 CommentaireEntretien == commentaire entretien
    *    19 DateCreation == ?
    *    20 DateSuppression == ?
    *    21 IsSupprime  ==  ?
    *    22 CommentaireSuppression == ?
    *    23 PourcentageCommission
24 PrixAchatReel         ?
    *    25 TauxRetrocessionCai   ?
    * 26 DateCompromisCible
    
    
________a supprimer     *       27 TypeDeMission == tous / inconnu / online / terrain / neuf / vente / Location / Apport d'affaires == transfo categorie
    _______a supprimer   *      28 TypeDeMandat == Exclusif / semi-exclusif / avec preavis == tranfo categorie
    *     29 PrestockPropertyCount == ?
    *     30 ChiffreAffaireHT == ?
    *     31 FundId == ?
    *     32 MandateNumber == ?
    *     33 LastSavedDate == ?
    *     34 StandardFees ==> honoraire chasseur, remise, autres
    *     35 FeesDiscountType 
    *     36 FeesDiscountHolder 
    *     37 FeesDiscount 
    *     38 Fees 
    *     39 ExternalHubspotDealId == ?
    *     40 CoachId == ?
    *     41 Title == titre du mandat

CRITERES

42 Lieu ==> ça peut être une ville, un code postal ...  str / int
43 Quartier ==> string 
44 TypeBienEnum == > appartement, maison, terrain ... == transfo cat
45 TypeProjet ==> residence principale, secondaire, investissement ... str == transfo type cat
46 BudgetMinEuro 
47 BudgetMaxEuro 
48 SurfaceMin 
49 SurfaceMax
50 NombrePiecesEnum
51 NombreChambresEnum
    *    52 DescriptionLibreRecherche
    *    53 AutreCriteres1
    *    54 AutreCritere2
    *    55 AutreCritere3
    *    56 AutreCritere4
    *    57 AutreCritere5
58 CommentaireTravauxAccepte == client accepte travaux == string oui / non == tranfo cat
    *    59 CommentaireSituation
    *    60 CommentaireStyle
    *    61 CommentaireNetAcheteur
    *    62 EcheanceProjetEnum
63 AncienNeufBien == Inconnu, Neuf, Ancien, Neuf ou Ancien == tranfo cat
    *    64 HorairesVisite

BIEN MANDAT

    *    65 BienMandatId == id bien mandat
66 DescriptionBien_TypeBienEnum == maison / appartement / ... tranfo cat
67 DescriptionBien_Prix == Prix du bien == int
68 Statut == Stock / Nouveau / Selection / A visiter / Visité / Compromis / Acté / Rejeté == transfo cat
69 CommentaireTravaux == travaux dans le bien == string oui / non == tranfo cat
70 DescriptionBien_DateOffreAcceptee == date a laquelle l'offre est accecptée

### Selection des Features

In [52]:
# a priori 25 colonnes si j'oublis rien
# a faire verifier

### Drop colonnes inutiles

In [53]:
df_merge_crit_2.drop(['LocalisationId','Region_LocalisationId', "Departement_LocalisationId", 'CritereId', 'MandatId', 'ClientId', 'CriteresMoteurId', 'StatutProspectMandatClientId', 'DateMandatPerte', 'DateMandantEcheance', 'DateCompromisSignature', 'DateAchatCible', 'CommentaireClient', 'CommentaireEntretien', 'DateCreation', 'DateSuppression', 'IsSupprime','CommentaireSuppression', 'PourcentageCommission', 'TauxRetrocessionCai', 'DateCompromisCible', 'PrestockPropertyCount', 'ChiffreAffaireHT', 'FundId', 'MandateNumber', 'LastSavedDate', 'StandardFees', 'FeesDiscountType', 'FeesDiscountHolder', 'FeesDiscount', 'Fees', 'ExternalHubspotDealId', 'CoachId', 'Title', 'DescriptionLibreRecherche', 'AutreCritere1', 'AutreCritere2', 'AutreCritere3', 'AutreCritere4', 'AutreCritere5', 'CommentaireSituation', 'CommentaireStyle', 'CommentaireNetAcheteur', 'EcheanceProjetEnum', 'HorairesVisite', 'BienMandatId'], axis=1, inplace=True)

In [54]:
df_merge_crit_2.head()

,Code,Nom,CodeInsee,Discriminator,DateMandatSignature,PrixAchatReel,TypeDeMission,TypeDeMandat,Lieu,Quartier,TypeBienEnum,TypeProjet,BudgetMinEuro,BudgetMaxEuro,SurfaceMin,SurfaceMax,NombrePiecesEnum,NombreChambresEnum,CommentaireTravauxAcceptes,AncienNeufBien,DescriptionBien_TypeBienEnum,DescriptionBien_Prix,Statut,CommentaireTravaux,DescriptionBien_DateOffreAcceptee
0,26,Bourgogne,None,Region,2020-08-28 00:00:00,0.0,2,0,Lyon,None,2,Investissement,0,200000,20,0,1,0,oui,2,2,162000,4,Ameublement + électricité,2020-12-04 00:00:00
1,82,Rhône-Alpes,None,Region,2020-08-28 00:00:00,0.0,2,0,Lyon,None,2,Investissement,0,200000,20,0,1,0,oui,2,2,162000,4,Ameublement + électricité,2020-12-04 00:00:00
2,11,Île-de-France,None,Region,2018-06-14 10:00:00,85000.0,2,0,Sud Paris,None,2,Investissement,0,100000,20,0,1,0,None,3,2,90000,6,None,2018-06-29 10:00:00
3,11,Île-de-France,None,Region,2018-06-12 10:00:00,497000.0,2,0,None,None,7,Résidence principale,0,480000,65,0,3,2,None,3,1,533000,6,Non,2018-07-13 10:00:00
4,11,Île-de-France,None,Region,2019-02-13 11:00:00,49500.0,2,0,"GRIGNY (91350), BONDY (93140), MAISONS ALFORT ...",None,2,Investissement,0,75000,9,0,1,0,Rafraîchissement,2,2,55000,6,Rafraîchissement,2019-04-27 10:00:00

In [55]:
df_merge_crit_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9806 entries, 0 to 9805
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Code                               9806 non-null   object
 1   Nom                                9806 non-null   object
 2   CodeInsee                          9385 non-null   object
 3   Discriminator                      9806 non-null   object
 4   DateMandatSignature                9806 non-null   datetime64[ns]
 5   PrixAchatReel                      9806 non-null   float64
 6   TypeDeMission                      9806 non-null   int64
 7   TypeDeMandat                       9806 non-null   int64
 8   Lieu                               4059 non-null   object
 9   Quartier                           1733 non-null   object
 10  TypeBienEnum                       9806 non-null   int64
 11  TypeProjet                         9806 non-null   object
 12  BudgetMinEuro                      9806 non-null   int64
 13  BudgetMaxEuro                      9806 non-null   int64
 14  SurfaceMin                         9806 non-null   int64
 15  SurfaceMax                         9806 non-null   int64
 16  NombrePiecesEnum                   9806 non-null   int64
 17  NombreChambresEnum                 9806 non-null   int64
 18  CommentaireTravauxAcceptes         7887 non-null   object
 19  AncienNeufBien                     9806 non-null   int64
 20  DescriptionBien_TypeBienEnum       9806 non-null   int64
 21  DescriptionBien_Prix               9806 non-null   int64
 22  Statut                             9806 non-null   int64
 23  CommentaireTravaux                 5981 non-null   object
 24  DescriptionBien_DateOffreAcceptee  9806 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(13), object(9)
memory usage: 1.9+ MB

In [57]:
df_merge_crit_2.to_csv("df_merge_crit_2.csv")

In [58]:
import matplotlib.pyplot as plt
import seaborn as sns

### Analyse avant transformation des colonnes str en cat

#### Discriminator

In [ ]:
df_merge_crit_2["Discriminator"].dtypes

In [ ]:
df_merge_crit_2["Discriminator"].value_counts()

In [ ]:
plot = df_merge_crit_2['Discriminator'].value_counts().plot(kind='pie', autopct='%.2f', 
                                            figsize=(6, 6),
                                            title='Discriminator')

####  TypeDeMission

In [ ]:
df_merge_crit_2["TypeDeMission"].value_counts()

In [ ]:
plt.figure(figsize=(5,5))
sns.countplot(df_merge_crit_2['TypeDeMission'])

####  TypeDeMandat

In [ ]:
df_merge_crit_2["TypeDeMandat"].dtypes

In [ ]:
#TypeDeMandat
df_merge_crit_2["TypeDeMandat"].value_counts()

In [ ]:
plot = df_merge_crit_2['TypeDeMandat'].value_counts().plot(kind='pie', autopct='%.2f', 
                                            figsize=(6, 6),
                                            title='TypeDeMandat')

In [ ]:
plt.figure(figsize=(7,5))
sns.histplot(data=df_merge_crit_2, y="TypeDeMission")
plt.title("Compte du nombre de type de mission")
plt.show()

#### TypeBienEnum

In [ ]:
df_merge_crit_2["TypeBienEnum"].dtypes

In [ ]:
#TypeBienEnum
df_merge_crit_2["TypeBienEnum"].value_counts()

In [ ]:
plt.figure(figsize=(5,5))
sns.countplot(df_merge_crit_2['TypeBienEnum'])

#### TypeProjet

In [ ]:
df_merge_crit_2["TypeProjet"].dtypes

In [ ]:
#TypeProjet
df_merge_crit_2["TypeProjet"].value_counts()

In [ ]:
plt.figure(figsize=(8,5))
sns.histplot(data=df_merge_crit_2, y="TypeProjet")
plt.title("Compte du nombre de type de projet")
plt.show()

#### AncienNeufBien

In [ ]:
df_merge_crit_2["AncienNeufBien"].dtypes

In [ ]:
#AncienNeufBien
df_merge_crit_2["AncienNeufBien"].value_counts()

In [ ]:
plt.figure(figsize=(8,5))
sns.histplot(data=df_merge_crit_2, y="AncienNeufBien")
plt.title("AncienNeufBien")
plt.show()

#### Statut

In [ ]:
df_merge_crit_2["Statut"].dtypes

In [ ]:
#Statut
df_merge_crit_2["Statut"].value_counts()

### Transformation des données

In [ ]:
#discriminator
df_merge_crit_2["Discriminator"].replace('Ville',0,inplace=True)
df_merge_crit_2["Discriminator"].replace('Departement',1,inplace=True)
df_merge_crit_2["Discriminator"].replace('Region',2,inplace=True)

In [ ]:
df_merge_crit_2["Discriminator"].dtypes

In [ ]:
#TypeProjet
df_merge_crit_2["TypeProjet"].replace('Investissement',0,inplace=True)
df_merge_crit_2["TypeProjet"].replace('Résidence principale',1,inplace=True)
df_merge_crit_2["TypeProjet"].replace('Résidence secondaire',2,inplace=True)

In [ ]:
df_merge_crit_2["TypeProjet"].dtypes

In [ ]:
pd.to_numeric(df_merge_crit_2["TypeProjet"], downcast = 'integer')

In [ ]:
df_merge_crit_2["TypeProjet"] = df_merge_crit_2["TypeProjet"].astype(int)

In [ ]:
df_merge_crit_2 = df_merge_crit_2.infer_objects()

In [ ]:
df_merge_crit_2["TypeProjet"].dtypes

In [ ]:
df_merge_crit_2["TypeProjet"].count()

In [ ]:
df_merge_crit_2["TypeProjet"].isnull().sum()

In [ ]:
df_merge_crit_2["TypeProjet"].fillna(1, inplace = True)

In [ ]:
df_merge_crit_2["TypeProjet"].isnull().sum()

In [ ]:
df_merge_crit_2.head(2)

In [ ]:
df_merge_crit_2["TypeProjet"] = df_merge_crit_2["TypeProjet"].astype(int)

In [ ]:
df_merge_crit_2.info()

#### Traitement des dates

In [ ]:
#TypeDeMandat
#TypeBienEnum
#CommentaireTravauxAccepte
#AncienNeufBien
#DescriptionBien_TypeBienEnum
#Statut
#CommentaireTravaux

#### Condition qui permet de garder que le Statut 4 et 5

### Condition qui permet de garder que le Statut 4 et 5

cond_stat = ((df_merge_crit_2["Statut"] >=4 ) | (df_merge_crit_2["Statut"] < 6))
df_test = df_merge_crit_2[~cond_stat]
df_test.head()

In [1]:
value_1 = [4, 5]
filtre_df = df_merge_crit_2[df_merge_crit_2.Statut.isin(value_1)]

NameError: name 'df_merge_crit_2' is not defined

In [ ]:
filtre_df.head(10)

In [ ]:
filtre_df.info()

#### Creation de la colonne durée qui sera mon y

In [ ]:
filtre_df["DureeMandat"] = filtre_df["DescriptionBien_DateOffreAcceptee"] - filtre_df["DateMandatSignature"]

In [ ]:
filtre_df.head(2)

In [ ]:
#filtre_df['DateMandatSignature'] = pd.to_numeric(pd.to_datetime(filtre_df['DateMandatSignature']))

In [ ]:
#filtre_df['DescriptionBien_DateOffreAcceptee'] = pd.to_numeric(pd.to_datetime(filtre_df['DescriptionBien_DateOffreAcceptee']))

In [ ]:
#filtre_df['DureeMandat'] = pd.to_numeric(pd.to_datetime(filtre_df['DureeMandat']))

In [ ]:
filtre_df.dtypes

In [ ]:
filtre_df["PrixAchatReel"] = filtre_df["PrixAchatReel"].astype(int)

In [ ]:
#df['tdColumn'] = df['tdColumn'].dt.days.astype('int16')
filtre_df["DureeMandat"] = filtre_df["DureeMandat"].dt.days.astype('int16')

In [ ]:
filtre_df.head(2)

In [ ]:
filtre_df["CodeInsee"].isnull().sum()

In [ ]:
filtre_df["DureeMandat"].mean()

In [ ]:
x = filtre_df[["Code", "Discriminator", "PrixAchatReel","TypeDeMission","TypeBienEnum","TypeProjet","BudgetMinEuro", "BudgetMaxEuro", "SurfaceMin", "SurfaceMax", "NombrePiecesEnum", "NombreChambresEnum", "AncienNeufBien", "DescriptionBien_TypeBienEnum", "DescriptionBien_Prix", "Statut"]]
x.shape

In [ ]:
x.dtypes

In [ ]:
y = filtre_df["DureeMandat"]
y.shape

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 0)

In [ ]:
from sklearn import linear_model

In [ ]:
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)

In [ ]:
#df.drop('', axis=1, inplace=True)

df_final = pd.merge(df_Mandat_Loc, df_drop, on = "MandatId")

df_final.head()

In [ ]:
df_final.columns

df_final.info()

In [ ]:
df_final["DescriptionBien_DateOffreAcceptee"].value_counts()

In [ ]:
df_final["DescriptionBien_DateOffreAcceptee"].isnull().sum()

1797594-1787788 = 9806

In [ ]:
df_final["DescriptionBien_DateOffreAcceptee"].min()

In [ ]:
df_final["DescriptionBien_DateOffreAcceptee"].max()

In [ ]:
x = df_final["DescriptionBien_DateOffreAcceptee"].max() - df_final["DescriptionBien_DateOffreAcceptee"].min()

In [ ]:
x

In [ ]:
df_final["DateMandatSignature"].min()

In [ ]:
df_final["DateMandatSignature"].max()

In [ ]:
df_final.info()

In [ ]:
df_final["Departement_LocalisationId"]

In [ ]:
df_final["Code"]

In [ ]:
cond1 = ((df_final["DateMandatSignature"] > ('2017-02-18 11:00:00')) |

DateMandatSignature supprimer les valeurs en dessous de 2017-02-18 11:00:00
statut ==> supprimer les valeur qui ne sont pas 4 et 0

In [ ]:
df_final["Statut"]

In [ ]:
df_final

In [ ]:
df_test["Statut"].value_counts()

In [ ]:
df_test.info()

In [ ]:
###   df_test == condition statut

In [ ]:
cond_date = ((df_test["DateMandatSignature"] > ('2017-02-18 11:00:00')) | (df_test["DateMandatSignature"] < ('2021-09-09 00:00:00') ))
df_date = df_test[~cond_date]
df_date

In [ ]:
df_date.head(135)

In [ ]:
df_date.info()

In [ ]:
cond_date2 = ((df_test["DescriptionBien_DateOffreAcceptee"] > ('2017-04-06 10:00:00')) | (df_test["DescriptionBien_DateOffreAcceptee"] < ('2021-07-27 00:00:00') ))
df_test2 = df_test[~cond_date2]
df_test2.info()

In [ ]:
df_test2["DescriptionBien_DateOffreAcceptee"].min()

In [ ]:
df_test2["DescriptionBien_DateOffreAcceptee"].max()

In [ ]:
df_test2["DateMandatSignature"].min()

In [ ]:
df_final.info()

In [ ]:
df_final.isnull().sum()