In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import scipy.stats as stat
import scipy as sp
import statistics

In [2]:
df = pd.read_csv("test.csv", sep = ",")
df.head(2)

C:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,DateMandatInstant,DateMandatSeason,DateMandatYear,DateMandatMonth,DateMandatWeek,MandatId,UrlMandat,DateMandat,StatutMandat,DateCompromis,BudgetMaxEuro,TypeBien,TypeProjet,SurfaceMin,NombrePieces,NombreChambres,Ville,CodePostal,Departement,Region,NombreDeBiensTrouves,NombreDeBiensPublies,NombreDeBiensSelectionnes,NombreDeBiensAVisiter,NombreDeBiensVisites,NombreDeBiensRejetes,NombreDeBiensActesOuCompromis,DatePremierePublicationDeBien,DateDernierePublicationDeBien,DelaiPremierePublicationDeBien,DatePremiereVisite,DelaiPremiereVisite
0,0,1,2,0,4,17,2,https://monespace.net-acheteur.com/Spa/app/#/m...,2012-04-26,0,NaN,280000,1,0,0,5,2,Nimes,30000,Gard,Languedoc-Roussillon,39,32,5,4,1,18,0,2012-05-21,2015-10-09,25.0,NaN,NaN
1,1,1,2,0,4,17,2,https://monespace.net-acheteur.com/Spa/app/#/m...,2012-04-26,0,NaN,280000,1,0,0,5,2,Montpellier,34000,Hérault,Languedoc-Roussillon,39,32,5,4,1,18,0,2012-05-21,2015-10-09,25.0,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51817 entries, 0 to 51816
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      51817 non-null  int64
 1   DateMandatInstant               51817 non-null  int64
 2   DateMandatSeason                51817 non-null  int64
 3   DateMandatYear                  51817 non-null  int64
 4   DateMandatMonth                 51817 non-null  int64
 5   DateMandatWeek                  51817 non-null  int64
 6   MandatId                        51817 non-null  int64
 7   UrlMandat                       51817 non-null  object
 8   DateMandat                      51817 non-null  object
 9   StatutMandat                    51817 non-null  int64
 10  DateCompromis                   6645 non-null   object
 11  BudgetMaxEuro                   51817 non-null  int64
 12  TypeBien                        51817 non-null  int64
 13  TypeProjet                      51817 non-null  int64
 14  SurfaceMin                      51817 non-null  int64
 15  NombrePieces                    51817 non-null  int64
 16  NombreChambres                  51817 non-null  int64
 17  Ville                           51817 non-null  object
 18  CodePostal                      51817 non-null  int64
 19  Departement                     51817 non-null  object
 20  Region                          51817 non-null  object
 21  NombreDeBiensTrouves            51817 non-null  int64
 22  NombreDeBiensPublies            51817 non-null  int64
 23  NombreDeBiensSelectionnes       51817 non-null  int64
 24  NombreDeBiensAVisiter           51817 non-null  int64
 25  NombreDeBiensVisites            51817 non-null  int64
 26  NombreDeBiensRejetes            51817 non-null  int64
 27  NombreDeBiensActesOuCompromis   51817 non-null  int64
 28  DatePremierePublicationDeBien   23422 non-null  object
 29  DateDernierePublicationDeBien   23422 non-null  object
 30  DelaiPremierePublicationDeBien  23422 non-null  float64
 31  DatePremiereVisite              12765 non-null  object
 32  DelaiPremiereVisite             12765 non-null  float64
dtypes: float64(2), int64(22), object(9)
memory usage: 13.0+ MB

In [7]:
df.shape

(51817, 33)

In [8]:
# obtenir 25% des données

25*51817/100

12954.25

In [9]:
df_test = df.iloc[:12954,:]

In [10]:
df_test.shape

(12954, 33)

In [14]:
df_test.tail()

,Unnamed: 0,DateMandatInstant,DateMandatSeason,DateMandatYear,DateMandatMonth,DateMandatWeek,MandatId,UrlMandat,DateMandat,StatutMandat,DateCompromis,BudgetMaxEuro,TypeBien,TypeProjet,SurfaceMin,NombrePieces,NombreChambres,Ville,CodePostal,Departement,Region,NombreDeBiensTrouves,NombreDeBiensPublies,NombreDeBiensSelectionnes,NombreDeBiensAVisiter,NombreDeBiensVisites,NombreDeBiensRejetes,NombreDeBiensActesOuCompromis,DatePremierePublicationDeBien,DateDernierePublicationDeBien,DelaiPremierePublicationDeBien,DatePremiereVisite,DelaiPremiereVisite
12949,12949,2084,1,6,1,2,40219,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-08,0,NaN,1000000,1,0,180,6,6,Bordeaux,33000,Gironde,Aquitaine,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12950,12950,2084,1,6,1,2,40230,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-08,0,NaN,370000,1,0,0,4,3,Marseille,13000,Bouches-du-Rhône,Provence-Alpes-Côte d'Azur,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12951,12951,2085,1,6,1,2,40249,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-09,0,NaN,450000,0,0,120,4,3,Montpellier,34000,Hérault,Languedoc-Roussillon,87,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12952,12952,2085,1,6,1,2,40249,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-09,0,NaN,450000,0,0,120,4,3,Mauguio,34130,Hérault,Languedoc-Roussillon,87,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12953,12953,2085,1,6,1,2,40249,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-09,0,NaN,450000,0,0,120,4,3,Castelnau Le Lez,34170,Hérault,Languedoc-Roussillon,87,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [18]:
df_test["StatutMandat"].value_counts()

0    11407
1     1547
Name: StatutMandat, dtype: int64

In [19]:
11407-1547

9860

In [42]:
df_drop = df_test[df_test["StatutMandat"] == 0]

In [43]:
df_drop2 = df_drop.iloc[:1547,:]

In [44]:
df_drop2.shape

(1547, 33)

In [ ]:
# transformer en csv  les deux
# je veux entrainer modele big dataset
# tester le modèle avec les données équilibrées

In [ ]:
#dump
#load()


X = df.drop["statutmandat"]
y =

In [26]:
df_drop.head()

,Unnamed: 0,DateMandatInstant,DateMandatSeason,DateMandatYear,DateMandatMonth,DateMandatWeek,MandatId,UrlMandat,DateMandat,StatutMandat,DateCompromis,BudgetMaxEuro,TypeBien,TypeProjet,SurfaceMin,NombrePieces,NombreChambres,Ville,CodePostal,Departement,Region,NombreDeBiensTrouves,NombreDeBiensPublies,NombreDeBiensSelectionnes,NombreDeBiensAVisiter,NombreDeBiensVisites,NombreDeBiensRejetes,NombreDeBiensActesOuCompromis,DatePremierePublicationDeBien,DateDernierePublicationDeBien,DelaiPremierePublicationDeBien,DatePremiereVisite,DelaiPremiereVisite
0,0,1,2,0,4,17,2,https://monespace.net-acheteur.com/Spa/app/#/m...,2012-04-26,0,NaN,280000,1,0,0,5,2,Nimes,30000,Gard,Languedoc-Roussillon,39,32,5,4,1,18,0,2012-05-21,2015-10-09,25.0,NaN,NaN
1,1,1,2,0,4,17,2,https://monespace.net-acheteur.com/Spa/app/#/m...,2012-04-26,0,NaN,280000,1,0,0,5,2,Montpellier,34000,Hérault,Languedoc-Roussillon,39,32,5,4,1,18,0,2012-05-21,2015-10-09,25.0,NaN,NaN
2,2,1,2,0,4,17,3,https://monespace.net-acheteur.com/Spa/app/#/m...,2012-04-26,0,NaN,300000,0,0,70,3,2,Montpellier,34000,Hérault,Languedoc-Roussillon,2,1,0,0,0,0,0,2013-03-07,2013-03-07,315.0,NaN,NaN
3,3,2,2,0,4,17,5,https://monespace.net-acheteur.com/Spa/app/#/m...,2012-04-27,0,NaN,250000,0,1,60,3,2,Montpellier,34000,Hérault,Languedoc-Roussillon,18,17,2,0,1,11,0,2012-05-03,2014-11-18,6.0,NaN,NaN
4,4,7,2,0,5,18,12,https://monespace.net-acheteur.com/Spa/app/#/m...,2012-05-02,0,NaN,250000,1,0,80,4,3,Frontignan,34110,Hérault,Languedoc-Roussillon,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [15]:
df_test2 = df.iloc[12954:,:]

In [16]:
df_test2.shape

(38863, 33)

In [17]:
df_test2.head()

,Unnamed: 0,DateMandatInstant,DateMandatSeason,DateMandatYear,DateMandatMonth,DateMandatWeek,MandatId,UrlMandat,DateMandat,StatutMandat,DateCompromis,BudgetMaxEuro,TypeBien,TypeProjet,SurfaceMin,NombrePieces,NombreChambres,Ville,CodePostal,Departement,Region,NombreDeBiensTrouves,NombreDeBiensPublies,NombreDeBiensSelectionnes,NombreDeBiensAVisiter,NombreDeBiensVisites,NombreDeBiensRejetes,NombreDeBiensActesOuCompromis,DatePremierePublicationDeBien,DateDernierePublicationDeBien,DelaiPremierePublicationDeBien,DatePremiereVisite,DelaiPremiereVisite
12954,12954,2085,1,6,1,2,40249,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-09,0,NaN,450000,0,0,120,4,3,Palavas Les Flots,34250,Hérault,Languedoc-Roussillon,87,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12955,12955,2085,1,6,1,2,40249,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-09,0,NaN,450000,0,0,120,4,3,Carnon Plage,34280,Hérault,Languedoc-Roussillon,87,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12956,12956,2085,1,6,1,2,40249,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-09,0,NaN,450000,0,0,120,4,3,Perols,34470,Hérault,Languedoc-Roussillon,87,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12957,12957,2085,1,6,1,2,40249,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-09,0,NaN,450000,0,0,120,4,3,Lattes,34970,Hérault,Languedoc-Roussillon,87,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12958,12958,2085,1,6,1,2,40284,https://monespace.net-acheteur.com/Spa/app/#/m...,2018-01-09,0,NaN,150000,0,1,65,4,3,Lyon 3Eme Arrondissement,69003,Rhône,Rhône-Alpes,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN