### autre

In [1]:
import pandas as pd
import seaborn as sns

import numpy as np
import statistics
import scipy.stats as stat
import scipy as sp

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm

https://ichi.pro/fr/modele-de-regression-lineaire-multiple-utilisant-python-machine-learning-228751987250986

In [2]:
df = pd.read_csv("df.csv")

In [3]:
pd.set_option('display.max_columns', None)
df.head(2)

,Unnamed: 0,Code,Nom,CodeInsee,Discriminator,DateMandatSignature,PrixAchatReel,TypeDeMission,TypeDeMandat,Lieu,Quartier,TypeBienEnum,TypeProjet,BudgetMinEuro,BudgetMaxEuro,SurfaceMin,SurfaceMax,NombrePiecesEnum,NombreChambresEnum,CommentaireTravauxAcceptes,AncienNeufBien,DescriptionBien_TypeBienEnum,DescriptionBien_Prix,Statut,CommentaireTravaux,DescriptionBien_DateOffreAcceptee,DureeMandat
0,0,26,Bourgogne,0,2,2020-08-28 00:00:00,0.0,2,0,Lyon,NaN,2,0,0,200000,20,0,1,0,oui,2,2,162000,4,Ameublement + électricité,2020-12-04 00:00:00,98
1,1,82,Rhône-Alpes,0,2,2020-08-28 00:00:00,0.0,2,0,Lyon,NaN,2,0,0,200000,20,0,1,0,oui,2,2,162000,4,Ameublement + électricité,2020-12-04 00:00:00,98

In [4]:
df=df.drop(columns="Unnamed: 0", axis = 1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Code                               3649 non-null   int64
 1   Nom                                3649 non-null   object
 2   CodeInsee                          3649 non-null   int64
 3   Discriminator                      3649 non-null   int64
 4   DateMandatSignature                3649 non-null   object
 5   PrixAchatReel                      3649 non-null   float64
 6   TypeDeMission                      3649 non-null   int64
 7   TypeDeMandat                       3649 non-null   int64
 8   Lieu                               899 non-null    object
 9   Quartier                           413 non-null    object
 10  TypeBienEnum                       3649 non-null   int64
 11  TypeProjet                         3649 non-null   int64
 12  BudgetMinEuro                      3649 non-null   int64
 13  BudgetMaxEuro                      3649 non-null   int64
 14  SurfaceMin                         3649 non-null   int64
 15  SurfaceMax                         3649 non-null   int64
 16  NombrePiecesEnum                   3649 non-null   int64
 17  NombreChambresEnum                 3649 non-null   int64
 18  CommentaireTravauxAcceptes         2859 non-null   object
 19  AncienNeufBien                     3649 non-null   int64
 20  DescriptionBien_TypeBienEnum       3649 non-null   int64
 21  DescriptionBien_Prix               3649 non-null   int64
 22  Statut                             3649 non-null   int64
 23  CommentaireTravaux                 2185 non-null   object
 24  DescriptionBien_DateOffreAcceptee  3649 non-null   object
 25  DureeMandat                        3649 non-null   int64
dtypes: float64(1), int64(18), object(7)
memory usage: 741.3+ KB

In [6]:
df.describe()

,Code,CodeInsee,Discriminator,PrixAchatReel,TypeDeMission,TypeDeMandat,TypeBienEnum,TypeProjet,BudgetMinEuro,BudgetMaxEuro,SurfaceMin,SurfaceMax,NombrePiecesEnum,NombreChambresEnum,AncienNeufBien,DescriptionBien_TypeBienEnum,DescriptionBien_Prix,Statut,DureeMandat
count,3649.000000,3649.000000,3649.000000,3.649000e+03,3649.000000,3649.000000,3649.000000,3649.000000,3649.000000,3.649000e+03,3649.000000,3649.0,3649.000000,3649.000000,3649.000000,3649.000000,3.649000e+03,3649.000000,3649.000000
mean,54509.479583,54471.431625,0.061113,3.359311e+05,1.963826,0.006303,2.543711,0.737188,16059.879419,5.163743e+05,105.820773,0.0,3.227186,2.011236,2.186626,1.923541,4.048586e+05,4.975062,51.511921
std,28695.360875,28688.115801,0.256159,3.863251e+05,0.374351,0.082543,2.103626,0.515910,63012.443438,5.856319e+06,1656.051077,0.0,1.530990,1.393372,0.420131,1.491539,4.088033e+05,0.155959,69.584697
min,1.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000e+00,4.000000,-140.000000
25%,33620.000000,33376.000000,0.000000,1.370000e+05,2.000000,0.000000,1.000000,0.000000,0.000000,2.000000e+05,35.000000,0.0,2.000000,1.000000,2.000000,1.000000,1.899000e+05,5.000000,15.000000
50%,69004.000000,69072.000000,0.000000,2.450000e+05,2.000000,0.000000,2.000000,1.000000,0.000000,3.000000e+05,65.000000,0.0,3.000000,2.000000,2.000000,2.000000,2.900000e+05,5.000000,30.000000
75%,75011.000000,75111.000000,0.000000,4.032000e+05,2.000000,0.000000,2.000000,1.000000,0.000000,5.000000e+05,100.000000,0.0,4.000000,3.000000,2.000000,2.000000,4.490000e+05,5.000000,62.000000
max,95880.000000,95680.000000,2.000000,9.000000e+06,5.000000,2.000000,8.000000,2.000000,700000.000000,3.525252e+08,100000.000000,0.0,6.000000,6.000000,3.000000,8.000000,1.000000e+07,5.000000,557.000000

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['Code', 'Discriminator', 'PrixAchatReel', 'TypeDeMission', 'TypeBienEnum','TypeProjet', 'BudgetMinEuro','BudgetMaxEuro', 'SurfaceMin', 'NombrePiecesEnum', 'NombreChambresEnum', 'DescriptionBien_Prix', 'Statut']
df[num_vars] = scaler.fit_transform(df[num_vars])

df

In [ ]:
# x, mes variables independantes
x = df[["Code", "Discriminator", "PrixAchatReel","TypeDeMission","TypeBienEnum","TypeProjet","BudgetMinEuro", "BudgetMaxEuro", "SurfaceMin", "NombrePiecesEnum", "NombreChambresEnum", "AncienNeufBien", "DescriptionBien_TypeBienEnum", "DescriptionBien_Prix", "Statut"]]
x.shape

In [ ]:
# y, ma varible dependante
y = df["DureeMandat"]
y.shape

In [ ]:
# separation du jeu d'entrainement et du jeu de test
# jeu d'entrainement / apprentissage du modèle
# jeu de test == test du modèle
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 100 )

In [ ]:
#Build a linear model

import statsmodels.api as sm
x_train_lm = sm.add_constant(x_train)

lr_1 = sm.OLS(y_train, x_train_lm).fit()

lr_1.summary()

In [ ]:
# Checking for the VIF values of the variables. 
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Creating a dataframe that will contain the names of all the feature variables and their VIFs
vif = pd.DataFrame()
vif['Features'] = x_train.columns
vif['VIF'] = [variance_inflation_factor(x_train.values, i) for i in range(x_train.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

In [ ]:
x = x_train.drop('BudgetMinEuro', 1,)

# Build a fitted model after dropping the variable
x_train_lm = sm.add_constant(x)

lr_2 = sm.OLS(y_train, x_train_lm).fit()

# Printing the summary of the model
print(lr_2.summary())

In [ ]:
# Calculating the VIFs again for the new model after dropping semi-furnished

vif = pd.DataFrame()
vif['Features'] = x.columns
vif['VIF'] = [variance_inflation_factor(x.values, i) for i in range(x.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif